@import "tailwindcss";

@layer base {
  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: bold;
  }

  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
  }

  h4 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }

  h5 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  h6 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
}